

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="Register" method="POST" bgcolor="cyan">
        {% csrf_token %}

        First Name: <input type="text" name="first_name" placeholder="First Name"> <br /><br />
        Last Name:  <input type="text" name="last_name" placeholder="Last Name"> <br /><br />
        User Name:  <input type="text" name="user_name" placeholder="User Name"> <br /><br />
        Email ID:   <input type="email" name="email_id " placeholder="Email ID"> <br /><br />
        Password:   <input type="password" name="password" placeholder="Password"> <br /><br />
        Confirm Password:   <input type="password" name="confirm_password" placeholder="Confirm password"> <br /><br />
        <input type="submit" value="Submit">
    </form>
</body>
        {% for message in  messages %}
        <h3 style="color: red;">{{message}}</h3>
        {% endfor %}
</html>